<mat-card class="main-page">
  <mat-card-header>
    <mat-card-title>Welcome to myFlix!</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>Discover and explore your favorite movies with myFlix.</p>
  </mat-card-content>
  <mat-card-actions>
    <button
      mat-raised-button
      color="primary"
      (click)="openUserRegistrationDialog()"
      style="margin-right: 10px"
    >
      Sign Up
    </button>
    <button
      mat-raised-button
      color="primary"
      (click)="openUserLoginDialog()"
      style="margin-right: 10px"
    >
      Login
    </button>
    <button mat-raised-button color="primary" (click)="demoLogin()">
      Demo Login
    </button>
  </mat-card-actions>
</mat-card>
