<!-- This toolbar will be displayed on screens larger than 599px -->
<mat-toolbar color="primary" *ngIf="(isHandset$ | async) === false">
    <button mat-button [routerLink]="['/welcome']">Home</button>
    <button mat-button [routerLink]="['/profile']" *ngIf="isLoggedIn()">Profile</button>
    <button mat-button [routerLink]="['/movies']" *ngIf="isLoggedIn()">Movies</button>
    <button mat-button (click)="logout()" *ngIf="isLoggedIn()">Logout</button>
  </mat-toolbar>

  <!-- This toolbar will be displayed on screens smaller than 600px -->
<mat-toolbar color="primary" *ngIf="(isHandset$ | async) === true">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/">Home</button>
      <button mat-menu-item routerLink="/profile" *ngIf="isLoggedIn()">Profile</button>
      <button mat-menu-item routerLink="/movies" *ngIf="isLoggedIn()">Movies</button>
      <button mat-menu-item (click)="logout()" *ngIf="isLoggedIn()">
        Logout
      </button>
      <!-- Logout button -->
    </mat-menu>
  </mat-toolbar>