.fixed-height {
    height: 50px; 
    margin-bottom: 10px;
  }

  .scroll-container {
    display: flex;
    overflow-x: auto;
    gap: 10px;
  }
  
  // .scroll-container::-webkit-scrollbar {
  //   display: none;
  // }

  .profile-field {
    margin-right: 10px;
  }
  